#header {
    width: 80%;
    height: 15em;
    background-color: #0f8433;
    margin-left: 10%;
    min-width: 950px;
}
#meny ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0f8433;
    opacity: 0.7;
    height: 80px;
    width: 80%;
    margin-left:10%;
    min-width: 950px;
}

#meny ul > li {
    position: relative;
    float: left;
    width: 12.6%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2px;
}

#meny ul > li > a {
    font-size: 150%;
    font-family: Gill Sans;
    text-transform: uppercase;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    padding-top: 10px;
}
#meny ul> li>a:hover {
    opacity: 1.0;
    background-color: red;
}
body {
    background-color: whitesmoke;
}

#finbildloda {
    width: 50%;
    height: 500px;
    background-color: #0f8433;
    margin-left: 24%;
    min-width: 700px;
}

#bildloda {
    width: 85%;
    height: 90%;
    background-color: black;
    margin-left: 50px;
    margin-top:50px;
}

#headerpicture {
    opacity: 1.0;
}